.editable-user-table {
    text-align: left;
    width: 100%;
    border-radius: 2em;
    vertical-align: middle;
    text-align: center;
    border-collapse: collapse;
}

.editable-user-table th,
.editable-user-table td {
  border: 1px solid black;
  box-sizing: border-box; 
}

.editable-user-table thead {
    background-color: #013a94;
    color: white;
    height: 2em;
}
