.editable-user-field-row button {
    background-color: #fdf551;
    color: black;
    outline: none;
    border: none;
    border-radius: 2px;
    box-shadow: 1px 1px 2px black;

    height: 2em;
    width: 2em;
    padding: 1.2em; 
    margin: 1em auto 1em auto;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.editable-user-field-row button:hover {
    background-color: #bfb93e;
}