.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.671);
    user-select: none;
    backdrop-filter: blur(3px); 
    overflow: hidden; 
}

.modal-content {
    min-height: 300px; 
    max-height: 400px; 
    min-width: 300px; 
    max-width: 400px; 
    padding: 30px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    background-color: rgba(0, 0, 0, 0.697);
    font-family: 'Helvetica Neue', sans-serif; 
    overflow: hidden; 
}

.error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px; 
}

.modal-button-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px; 
    width: 100%; 
    gap: 20px;
}

.modal-button-container button {
    color: white;
    outline: none;
    padding: 8px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
}

.modal-button-container button:hover {
    opacity: 1; 
}

.modal-button-container button.cancel-button {
    background-color: transparent;
    border: 1px solid red;
}

.modal-button-container button.submit-button {
    background-color: transparent; 
    border: 1px solid green;
}
