.user-list-search-bar {
  
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px;
  border-radius: 8px;
  
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  
  margin-bottom: 20px;
  
}

.user-list-search-bar>div {
  margin-right: 15px;
  width: fit-content;
}

.user-list-search-bar label {
  display: block;
  
  margin-bottom: 5px;
  
  color: #333;
  
  font-size: 14px;
  
}

.user-list-search-bar input[type='text'],
.user-list-search-bar input[type='number'],
.user-list-search-bar select {
  border: 1px solid #ccc;

  border-radius: 4px;

  padding: 10px;

  font-size: 16px;

  min-width: 100px;

  background-color: transparent;
}

.user-list-search-bar input[type='number'] {
  width: 30px;
}

.user-list-search-bar button {
  background-color: #013a94;
  
  color: white;
  
  padding: 10px 15px;
  
  border: none;
  
  border-radius: 4px;
  
  cursor: pointer;
  
  font-size: 16px;
  
  transition: background-color 0.3s ease;
  
}

.user-list-search-bar button:hover {
  background-color: #00336d;
  
}


@media (max-width: 600px) {
  .user-list-search-bar {
    flex-direction: column;
  }

  .user-list-search-bar>div {
    margin-right: 0;
    margin-bottom: 15px;
    
  }

  .user-list-search-bar input[type='text'],
  .user-list-search-bar input[type='number'] {
    width: auto;
    
  }
}