.user-info-container {
  border: 1px solid black;
  border-radius: 5px;

  padding: 1em;
  margin: 1em;

  background-color: white;
  box-shadow: 2px 5px 10px black;

  min-height: 20em;
  max-height: fit-content;

  display: flex;
  flex-direction: column;

}
